<swiper-container
  [slides-per-view]="1"
  [space-between]="spaceBetween"
  [centered-slides]="true"
  [loop]="true"
  [pagination]="{ hideOnClick: true }"
  [navigation]="true"
>
  <swiper-slide
    class="flex items-center bg-[url('/images/bander-1.jpg')] h-100 relative after:absolute after:bg-primary-300/70 after:inset-0"
  >
    <div class="container flex flex-col gap-3 font-bold text-white relative z-20">
      <h2 class="text-2xl">Fast & Free Delivery</h2>
      <p>Same Day Delivery Available</p>
      <div class="flex gap-1.5">
        <button class="btn-main rounded-2xl px-4 py-2">Order Now</button>
        <button class="btn-main rounded-2xl px-4 py-2">Delivery Info</button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide
    class="flex items-center bg-[url('/images/bander-1.jpg')] h-100 relative after:absolute after:bg-primary-300/70 after:inset-0"
  >
    <div class="container flex flex-col gap-3 font-bold text-white relative z-20">
      <h2 class="text-2xl">Fast & Free Delivery</h2>
      <p>Same Day Delivery Available</p>
      <div class="flex gap-1.5">
        <button class="btn-main rounded-2xl px-4 py-2">Order Now</button>
        <button class="btn-main rounded-2xl px-4 py-2">Delivery Info</button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide
    class="flex items-center bg-[url('/images/bander-1.jpg')] h-100 relative after:absolute after:bg-primary-300/70 after:inset-0"
  >
    <div class="container flex flex-col gap-3 font-bold text-white relative z-20">
      <h2 class="text-2xl">Fast & Free Delivery</h2>
      <p>Same Day Delivery Available</p>
      <div class="flex gap-1.5">
        <button class="btn-main rounded-2xl px-4 py-2">Order Now</button>
        <button class="btn-main rounded-2xl px-4 py-2">Delivery Info</button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide
    class="flex items-center bg-[url('/images/bander-1.jpg')] h-100 relative after:absolute after:bg-primary-300/70 after:inset-0"
  >
    <div class="container flex flex-col gap-3 font-bold text-white relative z-20">
      <h2 class="text-2xl">Fast & Free Delivery</h2>
      <p>Same Day Delivery Available</p>
      <div class="flex gap-1.5">
        <button class="btn-main rounded-2xl px-4 py-2">Order Now</button>
        <button class="btn-main rounded-2xl px-4 py-2">Delivery Info</button>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
